.tableContainer {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100dvh - 64px);
  -ms-overflow-style: none;
  background-color: #EEF0F4;
  scrollbar-width: 2px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #EEF0F4;
}

thead {
  height: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: #FEFEFE;
  opacity: 1;
}

tbody {
  z-index: 1;
}

tbody>tr {
  cursor: pointer;
  min-height: 68px;
  max-height: 68px;
}

tr::before {
  content: "";
  margin-left: 20px;

}

tr::after {
  content: "";
  margin-right: 20px;
}


tbody>tr>th {
  background: #f4eddf;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tbody>tr:hover>th {
  background-color: #E5EAF4;
}

tbody>tr:hover .actionCell>button {
  opacity: 1;
}

tr>th {
  font-weight: normal;
  font-size: 14px;
}

.phone {
  font-weight: 600;
}

th,
td {
  padding: 0 8px;
  text-align: left;
}

th {
  position: sticky;
  top: 0;
  width: 15%;
  padding: 8px;
}

tbody>tr>th {
  background-color: #FEFEFE;
}

tr>.avatarColumn {
  width: 52px;
  padding-right: 8px;
  text-align: center;
}

tbody>tr>.avatarColumn {
  border-left: 2px solid #EEF0F4;
}

tbody>tr {
  border-top: 2px solid #EEF0F4;
  border-bottom: 2px solid #EEF0F4;
}

tr>.address {
  width: 30%;
  max-width: 320px;

}

tr>.mail {
  width: 25%;
  max-width: 320px;
}

tr>.phone {
  width: 13%;
  max-width: 160px;
}

tr>.fullName {
  width: 15%;
  max-width: 180px;
}

tr>.actionCell {
  text-align: end;
  padding-right: 34px;
  border-right: 2px solid #EEF0F4;
}

tr>.actionCell>button {
  opacity: 0;
}

tbody>tr>.avatarColumn>* {
  color: #273B69;
  border-radius: 50%;
  font-weight: 600;
  font-size: 2rem;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

tbody>tr:first-child {
  border-top: none;
}

.fullName {
  cursor: pointer;
  height: 100%;
}

.fullName>p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fullName>p>span {
  opacity: .4;
}

.fullName.opposite>p>span {
  transform-origin: center;
  transform: rotate(0.5turn);
}

tbody>tr:first-child>th {
  border-top-color: rgba(0, 0, 0, 0);
}

.emptyList {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
}

.emptyList>button {
  width: 220px;
  padding: inherit 1rem;
  text-transform: uppercase;
}